!!! 5
!!!
%html
  %head
  %title Goldmine
  %link{:rel => 'stylesheet', :href => 'glint.css'}
  %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js'}
  - ['raphael', 'g.raphael/g.raphael', 'g.raphael/g.pie', 'g.raphael/g.line', 'g.raphael/g.dot', 'g.raphael/g.bar', 'g.raphael/g.pie', 'glint'].each do |f|
    %script{:type => 'text/javascript', :src => "js/#{f}.js"}
  %script{:type => 'text/javascript', :src => 'https://raw.github.com/mbostock/d3/master/d3.js'}
  :javascript
    var hist = {x: #{@history[:x].to_json}, y: #{@history[:y].to_json}}
    var curr = #{@current.to_json}
  %body
    %div{:id => 'history'}
    %div{:id => 'pie'}
    %div{:id => 'hist2', :class => 'history'}